<h4>Homepage</h4>
<% @posts.each do |post| %>
  <p><%= post.dog_name %></p>
  <%=image_tag(post.image_url, size: "300x330")%>
  <p><%= post.description %></p>
<% end %>

<p><%= link_to 'Sign in with Facebook', signin_path %></p>
<p><%= link_to 'Sign out', signout_path %></p>
