<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://thumb.ibb.co/mX2G6Q/Screen_Shot_2017_04_25_at_10_31_58_PM.png">

    <title><%= content_for?(:title) ? yield(:title) : "Flipdog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <div class="row">
      <div class="text-right columns">
        <% if current_user.present? %>
          <span><%= link_to "Log Out", destroy_user_session_path, class: "logout", :method => :delete %><span></br>
        <% else %>
          <%= link_to image_tag("https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-facebook-square2-128.png", size: "25x25"), user_facebook_omniauth_authorize_path, class: "login" %>
          <%= link_to "Log In", new_user_session_path, class: "login"%>
          <%= link_to "Sign Up", new_user_registration_path, class: "login"%>
        <% end %>
      </div>
    </div>
  </header>

  <body>
    <div class="row">
      <div class="text-center">
        <% flash.each do |kind, message| %>
        <p><%= message %></p>
        <% end %>
      </div>
      <div class="text-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
